version: '3.3'
networks:
  nginx-network:
    external: true
  db-network:
    external: true
  # redis-network:
  #   external: true
  app-network:
services:
  api:
    image: api
    container_name: multi-tools-api
    build:
      dockerfile: Dockerfile
      context: ./services/api
    environment:
      SPRING_APPLICATION_NAME: be
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/multi_tools?serverTimezone=UTC&useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: SuperSecretPassword@1234
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.MySQL8Dialect
      APPLICATION_SECURITY_JWT_SECRET_KEY: ECPCVSx5bhnlEWVnESptXEyOPI9KeGUUECPCVSx5bhnlEWVnESptXEyOPI9KeGUU
    ports:
      - "8083:8080"
    networks:
      - app-network
      - db-network
      # - redis
      
  web:
    container_name: multi-tools-web
    build:
      context: ./services/web
      dockerfile: Dockerfile
    ports:
      - "3003:3000"
    # depends_on:
    #   - api
    networks:
      - nginx-network
      - app-network
